html {
  background-color: rgb(27, 27, 27);
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 96vh;
}

#header{
  margin: 0;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#to-do-lists{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.add-list-btn{
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  background-color: rgb(235, 185, 5);
  font-size: 1rem;
  border-radius: 5px;
  border: 0;
  color: rgb(34, 34, 34);
  margin-left: 1rem;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
}

.add-list-btn:hover{
  background-color: rgb(253, 218, 91);;
  cursor: pointer;
}

main {
  text-align: center;
  flex: 1 0 auto;
}

h1 {
  color: #fff;
  margin: 0;
  padding: 0;
}

.box {
  margin-top: 3rem;
  background: rgb(55, 55, 55);
  border-radius: 5px;
  color: white;
}

.box h2{
  background-color: rgb(235, 185, 5);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.75rem;
  color: rgb(27, 27, 27);
  padding: 10px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.box h3{
  margin: 1rem 0 1.5rem 0;
  font-weight: 300;
}

form.edit {
  display: flex;
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
}

p {
  margin: 0;
  padding: 0.9rem 0;
  font-size: 1.25rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  text-align: left;
}

form {
  margin-left: 5px;
}

button.add {
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  background-color: #75bc89;
  color: #fff;
  font-size: 30px;
  transition: background-color .5s ease-in-out;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

button.add:hover {
  cursor: pointer;
  background-color: #58976a;
}

button.edit {
  margin-left: 0px;
  margin-right: 15px;
  padding-top: 6px;
  border: none;
  background: none;
}

button.edit:hover {
  cursor: pointer;
}

#delete-btn{
  background-image: url("/assets/icons/trash3.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0 1rem;
  margin-bottom: 5px;
  background-color: rgba(1,1,1,0);
}

#delete-btn:hover{
  cursor: pointer;
}

#delete-list-btn{
  background-image: url("/assets/icons/trash.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 1rem;
  background-color: rgba(1,1,1,0);
}

#delete-list-btn:hover{
  cursor: pointer;
}

input[type="text"] {
  text-align: left;
  min-height: 50px;
  border: none;
  background: transparent;
  font-size: 1.25rem;
  width: 80%;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #50727B;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}

#delete-form{
  margin-left: 0;
}

/* new-list.ejs */
#new-list-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0.5rem;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: whitesmoke;
}

#new-list-div h2{
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: clamp(1.5rem, 0.3043rem + 3.4783vw, 2.25rem);
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5rem;
}

#new-list-div label{
  margin-right: 0.5rem;
}

#new-list-div input[type="text"], #new-list-div input[type="date"]{
  margin-bottom: 1.5rem;
}

#new-list-form{
  margin-left: 0;
}

.create-list-btn{
  box-shadow: none;
  margin: 0;
  background-color: #75bc89;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 0;
  color: white;
  margin-top: 2px;
  transition: background-color 0.5s;
}

.create-list-btn:hover{
  cursor: pointer;
  background-color: #58976a;
}

.red-btn{
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  color: white;
  text-decoration: none;
  background-color: rgb(229, 38, 38);
  margin: 1.5rem 0 1rem 0;
  transition: background-color 0.3s ease-in-out;
}

.red-btn:hover{
  cursor: pointer;
  background-color: rgb(255, 65, 65);
}

/* footer */
footer {
  flex: 0 0 auto;
  color: white;
  text-align: right;
  font-size: 0.75rem;
  letter-spacing: 0.25rem;
  padding-right: 1rem;
  margin-top: 2rem;
}